<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
   * {
      margin: 0;
      padding: 0;

   }

   .root {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      background: #312e38;

   }

   .message-content {
      font-family: 'Roboto Slab', serif;
      max-width: 100%;
      font-size: 16px;
      line-height: 21px;
      padding: 50px;
      color: #FFF;
      max-width: 700px;
   }
   h1, h2, h3 ,h4 ,h5 {
      font-weight: 400;
   }
   b {
      font-weight: 500;
   }
   h3 {
      margin-top: 40px;
      margin-bottom: 30px;
   }
   .detail {
      color:#f4ede8;
      font-size: 10px;
   }
   p {
      margin-bottom: 15px;
   }

   a {
      font-family: 'Roboto Slab', serif;

   margin-bottom: 15px;
      display: flex;
      flex: 1;
      height: 35px;
      line-height: 35px;
      color: #fff;
      background: #ff9000;
      border: 1px solid #ff9000;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      justify-content: center;
      align-items: center;

      transition: background 0.2s;
   }

   a:hover {
      background: #e68200;
   }

</style>
<div class="root">
   <div class="message-content">
      <center>
         <img src="https://raw.githubusercontent.com/leandrosouzaa/gobarber/1bf7769a80e71b65266fa5cf9308b9baeffcbc58/frontend/src/assets/logo.svg" width="250px">
      </center>
      <h3>Olá, <b>{{name}}</b></h3>
      <p>Ops, parece que você esqueceu sua senha! Não precisa se envergonhar, nós da GoBarber também esquecemos nossas senhas direto!<span class="detail">   esse será o nosso segredo</span></p>
      <p>Aqui em baixo tem um botão mágico para você recuperar sua senha! É só clicar e escolher uma senha nova e <b>segura</b> que a mágica irá acontecer!</p>
      <a href="{{link}}">Recuperar Senha</a>
      <p>Caso não tenha sido você, tome cuidado pois forças malíginas podem estar conspirando contra sua conta!</p>
      <p>Sugerimos que troque sua senha através do seu perfil no GoBarber, isso vai impedir qualquer tipo de conspiração!</p>
      <br />
      <p>Caso tenha alguma dúvida estamos aqui para te ajudar. Basta mandar um e-mail par oi@gobarber.com <span class="detail">  se tiver uma fofoca e quiser contar também nos interessamos rsrs.</p>
      <p>Esperamos te ver em breve! Com 💛 <b>GoBarber</b></p>
   </div>
</div>
